<script type="text/javascript" src="/scripts/search.js"></script>
<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/"><i class="fa fa-scribd fa-2x"></i></a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-nav mr-auto mt-2 mt-lg-0">
        <% if (user) { %> <%- include('../create_post'); %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#create-post"
            >CREATE A POST</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= user.id %>">VIEW MY BOARDS</a>
        </li>
        <% } %>
      </ul>
      <form class="form-inline">
        <input
          class="form-control mr-sm-2 search-form"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div id="search-result"></div>
      </form>
      <% if (user) { %>
      <div class="dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sort by:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">All</a>
          <a class="dropdown-item" href="/Entertainment">Entertainment</a>
          <a class="dropdown-item" href="/Sports">Sports</a>
          <a class="dropdown-item" href="/Technology">Technology</a>
          <a class="dropdown-item" href="/Fashion">Fashion</a>
          <a class="dropdown-item" href="/Food">Food</a>
          <a class="dropdown-item" href="/Animals">Animals</a>
          <a class="dropdown-item" href="/Plants">Plants</a>
          <a class="dropdown-item" href="/Art">Art</a>
          <a class="dropdown-item" href="/Lifestyle">Lifestyle</a>
          <a class="dropdown-item" href="/Science">Science</a>
        </div>
        <% } %>
      </div>

      <%- include('../login'); %> <%- include('../register'); %> <%-
      include('../edit-user'); %>

      <li class="nav-item dropdown">
        <% if (!user) { %>
        <button
          type="button"
          class="btn btn-outline-primary pl-4 pr-4 mr-1"
          data-toggle="modal"
          data-target="#login-form"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-outline-warning"
          data-toggle="modal"
          data-target="#register-form"
        >
          Register
        </button>
      </li>
      <% } %> <% if (user) { %>
      <div class="flex-row-space">
        <button
          type="button"
          class="btn btn-outline-warning ml-2 pl-4 pr-4"
          data-toggle="modal"
          data-target="#user-edit"
        >
          EDIT
        </button>
        <form action="/logout" method="POST">
          <button class="btn btn-outline-danger ml-2" type="submit">
            Logout
          </button>
        </form>
      </div>
      <% } %>
    </div>
  </nav>
</header>
