<% for (const popular of mostLiked) { %>

<div class="fav_box">
  <article>
    <a href="<%= popular.url %>" target="_blank" class="card box">
      <div class="card-img-top image_edit">
        <img
          src="<%= popular.thumbnail_photo %>"
          alt="image"
          class="thumbnail box_img"
        />
      </div>
    </a>
    <div class="card-body">
      <a href="/post/<%= popular.id %>">
        <h5 class="title"><%= popular.title %></h5>
        <p class="card-text description">
          <%= popular.description.substring(0,40) + '......' %>
        </p>
      </a>
    </div>
    <footer class="flex-row-space-center">
      <div class="flex-row-center ml-4">
        <img
          src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Round&hairColor=Auburn&facialHairType=Blank&clotheType=Overall&clotheColor=Black&eyeType=Dizzy&eyebrowType=RaisedExcitedNatural&mouthType=Serious&skinColor=Light"
          class="avatar mb-2"
          style="width: 2rem"
        />
        <p class="post-owner mt-2 ml-2"><%= popular.username %></p>
      </div>
      <div class="flex-row-center mt-2 mr-2">
        <p class="rating mr-2">
          <%= popular.rating %>/5
          <i class="fa fa-star mr-2"></i>
        </p>
        <p class="liked mr-2">
          <%= popular.num_of_likes %>
          <i class="fa fa-heart mr-2" data-postid="<%= popular.id%>"></i>
        </p>
      </div>
    </footer>
  </article>
</div>
<% } %>
