<% for (const post of posts) { %>

<article>
  <div class="card-img-top image_edit">
    <a href="<%= post.url %>" class="card box">
      <img
        src="<%= post.thumbnail_photo %>"
        alt="image"
        class="thumbnail box_img"
      />
    </a>
  </div>

  <div class="card-body">
    <a href="/post/<%= post.id %>">
      <h5 class="title"><%= post.title %></h5>
      <p class="card-text description">
        <%= post.description.substring(0,40) + '......' %>
      </p>
    </a>
  </div>

  <footer class="flex-row-space-center">
    <div class="flex-row-center ml-2">
      <img
        src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Round&hairColor=Auburn&facialHairType=Blank&clotheType=Overall&clotheColor=Black&eyeType=Dizzy&eyebrowType=RaisedExcitedNatural&mouthType=Serious&skinColor=Light"
        class="avatar mb-2"
        style="width: 2rem"
      />
      <p class="post-owner mt-2 ml-2"><%= post.username %></p>
    </div>
    <div class="flex-row-center mt-2">
      <p class="rating mr-2">
        <%= post.rating %><i class="fa fa-star mr-2"></i>
      </p>
      <p class="liked mr-2">
        <i class="fa fa-heart mr-2"><%= post.is_liked %></i>
      </p>
    </div>
  </footer>

  <section class="action-btn flex-row-space m-2"></section>
</article>
<% } %>
