<%- include('./head'); %>
<body>
  <%- include('./header'); %>
  <main class="flex-col-center main-content">
    <% if (user) { %> <%- include('./profile'); %><% } %>
    <section class="mid-container flex-row-space">
      <div class="left-side">
        <label>Post Detail:</label>
        <img class="post-img" src="<%= post[0].thumbnail_photo %>" alt="" />

        <h3><%= post[0].title %></h3>
        <h5><%= post[0].description %></h5>
        <a href="<%= post[0].url %>">Link</a>

        <div class="comment-section">
          <label>Comments:</label>

          <% for (const comment of post) { %> <% if (comment.comment_text !==
          null) { %>
          <div class="comments">
            <p class="m-2"><%= comment.comment_text %> <span> - <%= comment.username %></span></p>
            
          </div>
          <% } %> <% } %>
        </div>
      </div>
      <div class="flex-col-space right-side ">
        <form
          class="flex-col mt-2"
          action="/api/posts/comment/<%= post[0].id %>"
          method="POST"
        >
          <label for="comment">You can comment here:</label>
          <textarea name="comment" id="" cols="30" rows="10"></textarea>
          <button type="submit" class="btn btn-primary mt-2">Comment</button>
        </form>
        <% if (user) { %> <% if (user.id === post[0].user_id) { %> <%-
        include('./edit_post'); %>
        <div class="flex-row-space">
          <button
          class="btn btn-info"
            data-toggle="modal"
            data-target="#edit-post"
          >
          <i class="fa fa-pencil"></i
            ><span class="ml-1">Edit</span></button>
            
          </button>
          <form action="/api/posts/delete/<%= post[0].id %>" method="POST">
            <button class="btn btn-danger" ><i class="fa fa-trash"></i>      <span>Delete</span>
            </button>
          </form>
        </div>
        <% } %> <% } %>
      </div>
    </section>
  </main>
  <%- include('./footer'); %>
</body>
