<%- include('./head'); %>
<body>
  <%- include('./header'); %>
  <main class="flex-col-center main-content">
    <% if (user) { %> <%- include('./profile'); %><% } %>
    <section class="mid-container flex-row-space">
      <div class="left-side">
        
        <!-- <label>Post Detail:</label> -->
        <img class="post-img" src="<%= post[0].thumbnail_photo %>" alt="" />
        <h3><%= post[0].title %></h3>
        <h5>Category: <%= post[0].category %></h5>
        <br>
        <p><%= post[0].description %></p>
        <a href="<%= post[0].url %>" target="_blank"><i class="fas fa-external-link-alt" style="color: rgb(73, 73, 73);"></i></a>
        <% if (user) { %> <% if (user.id === post[0].user_id) { %> <%-
          include('./edit_post'); %>
          <div class="flex-row-space mt-2">
            <button
            class="btn btn-warning"
              data-toggle="modal"
              data-target="#edit-post"å
            >
            <i class="fa fa-pencil"></i
              ></button>
              
            </button>
            <form action="/api/posts/delete/<%= post[0].id %>" method="POST">
              <button class="btn btn-danger" ><i class="fa fa-trash"></i>
              </button>
            </form>
          </div>
          <% } %> <% } %>
      </div>

      <div class="flex-col-space right-side ">
        
            <div class="comment-section">
              <label>Comments:</label>
    
              <% for (const comment of post) { %> <% if (comment.comment_text !==
              null) { %>
              <div class="comments">
                <p class="m-2" style="font-style: italic;">"<%= comment.comment_text %>"<span> -<%= comment.username %></span></p>
                
              </div>
              <% } %> <% } %>
            </div>
        <form
          class="flex-col mt-2"
          action="/api/posts/comment/<%= post[0].id %>"
          method="POST"
        >
          <label for="comment">Your comment:</label>
          <textarea name="comment" id="" cols="30" rows="10"></textarea>
          <button type="submit" class="btn btn-primary mt-3">Comment</button>
        </form>
        <form action="/api/posts/rate/<%= post[0].id %>" class="flex-row-space mt-2" method="POST">
          <div class="flex-row-space mt-2"></div>
          <span>
            <input id="rate" type="number" style="width: 5em;" name="rating" min="1" max="5">
            <button class="btn btn-success">Rate</button>
          </span>
        </form>
        
      </div>
    </section>
  </main>
  <%- include('./footer'); %>
</body>
