<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-row-space">
    <div class="post_area col-8"><%- include('./partials/fake_post'); %></div>
    <div class="assist_area col-4">
      <div class="popular_board">
        <%- include('./partials/popular_board'); %>
      </div>
      <div class="favourite_board flex-row-space">
        <!-- <div class="fav_box"><%- include('./partials/favourite_board'); %></div> -->
        <div class="fav_box"><%- include('./partials/fake_favo'); %></div>
        <div class="fav_box"><%- include('./partials/fake_favo'); %></div>
      </div>
    </div>
  </main>
  <%- include('./partials/footer'); %>
</body>
