<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-hor">
    <div class="post_area col-8 col-md-6 col-sm-6">
      <%- include('./partials/posts_each'); %>
    </div>
    <div class="assist_area col-4 col-md-6 col-sm-6">
      <div class="popular_board">
        <%- include('./partials/popular_board'); %>
      </div>
      <div class="favourite_board">
        <%- include('./partials/favourite_board'); %>
      </div>
    </div>
  </main>
  <%- include('./partials/footer'); %>
</body>
