<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <script type="text/javascript" src="/scripts/index-posts.js"></script>

  <body>
    <%- include('./partials/header'); %> <% if (error) { %>
    <script>
      $(".input-warning").slideDown("slow");
    </script>
    <div class="input-warning">
      <i class="fas fa-lg fa-exclamation-triangle"></i>
      <h3><%= error %></h3>
    </div>
    <% } %>
    <main id="main-container">
      <div id="post-area" class="item">
        <%- include('./partials/posts_each'); %>
      </div>
    </main>
    <%- include('./partials/footer'); %>
  </body>
</html>
