<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main id="container">
    <div id="post-area">
      <%- include('./partials/posts_each'); %><%-
      include('./partials/posts_each'); %><%- include('./partials/posts_each');
      %><%- include('./partials/posts_each'); %><%-
      include('./partials/posts_each'); %><%- include('./partials/posts_each');
      %><%- include('./partials/posts_each'); %>
    </div>

    <aside id="aside">
      <%- include('./partials/profile'); %>
      <div class="">
        <h3>Popular Board</h3>
        <div class="input-group">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="tag1">Tag 1</option>
            <option value="tag2">Tag 2</option>
            <option value="tag3">Tag 3</option>
          </select>
        </div>
      </div>
      <div>
        <h3>Most Liked</h3>
        <div id="fav-area">
          <div class="fav_box"><%- include('./partials/fake_favo'); %></div>
          <div class="fav_box"><%- include('./partials/fake_favo'); %></div>
          <div class="fav_box"><%- include('./partials/fake_favo'); %></div>
          <div class="fav_box"><%- include('./partials/fake_favo'); %></div>
        </div>
      </div>
    </aside>
  </main>
  <%- include('./partials/footer'); %>
</body>
</html>