<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <!-- <script type="text/javascript" src="/scripts/main-posts.js"></script> -->
<script type="text/javascript" src="/scripts/likes.js"></script>
</head>

<body>
  <%- include('./partials/header'); %>
  <main id="container">
    <aside id="aside">
      <%- include('./partials/profile'); %>
      <section id="search-area">
        <!-- we have no way of rating a board right now.....only a way to rate posts -->
        <!-- <h3>Browse Most Popular Boards</h3>
        <div class="input-group">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose here...</option>
            <option value="tag1">Tag 1</option>
            <option value="tag2">Tag 2</option>
            <option value="tag3">Tag 3</option>
          </select>
        </div> -->
      </section>
      <section id="fav-area">
        <h3>Most Popular Posts</h3>
        <%- include('./partials/most_liked'); %>
      </section>
    </aside>

  <main id="main-container" class="container">
    <div id="post-area" class="item">
      
      <%- include('./partials/posts_each'); %>
    </div>

  </main>
  <%- include('./partials/footer'); %>
</body>
</html>
