<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-row-space"><%- include('./partials/post'); %></main>
  <%- include('./partials/alert'); %> <%- include('./partials/footer'); %>
</body>
