<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col main-content">
    <h2 class="flex-col-center" style="color:grey;">Results for: <%= search %></h2>
    <div class="action-btn flex-row-space">
      <a href="/"
        ><button type="button" class="btn btn-info mb-2">
          back
        </button></a
      >
    </div>
    <div class="center"><%- include('./partials/posts_each'); %></div>
  </main>
  <%- include('./partials/footer'); %>
</body>
