<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col main-content">
    <%- include('./partials/profile'); %>
    <h1 class="flex-col-center"><%= board %></h1>

    <section id="main-container" class="container">
      <%- include('./partials/post'); %> 
      <div id="post-area" class="item">
        <%- include('./partials/post_editable'); %>
      </div>
    </section>

  </main>
  <%- include('./partials/edit_post'); %> <%- include('./partials/footer'); %>
</body>


