<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-ver">
    <h1 class="flex-ver-center">Board name</h1>
    <div class="post_area">
      <%- include('./partials/posts_each'); %>
      <div class="action">
          <i class="fa fa-pencil"></i>
          <i class="fa fa-trash"></i>
    </div>
      <%- include('./edit_post'); %>
  </main>
  <%- include('./partials/footer'); %>
</body>
