<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col">
    <%- include('./partials/profile'); %>

    <div class="action-btn flex-row-space">
      <div>
        <span> </span>
      </div>
      <div>
        <a href="/cb" class="link"> <i class="fa fa-plus"></i></a>
        <span>add</span>
      </div>
    </div>

    <div class="center">
      <%- include('./partials/board'); %><%- include('./partials/board'); %><%-
      include('./partials/board'); %><%- include('./partials/board'); %><%-
      include('./partials/board'); %><%- include('./partials/board'); %>
    </div>
  </main>
  <%- include('./partials/footer'); %>
</body>
