<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col main-content" id="blur">
    <%- include('./partials/profile'); %>

    <div class="action-btn flex-row-space">
      <div>
        <a href="#" id="edit-board-btn" class="link">
          <i class="fa fa-pencil"></i
        ></a>
        <span>Edit</span>
      </div>
      <div>
        <% if (user) { %> <%- include('create_board'); %>
          <a class="nav-link" data-toggle="modal" data-target="#create-board"
            ><i class="fa fa-plus"></i>Add</a
          >
        <% } %>
      </div>
    </div>

    <div class="center">
      <%- include('./partials/board'); %><%- include('./partials/board'); %><%-
      include('./partials/board'); %><%- include('./partials/board'); %><%-
      include('./partials/board'); %><%- include('./partials/board'); %>
    </div>
  </main>
  <%- include('./partials/edit_board'); %> <%- include('./partials/footer'); %>
</body>
