<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col main-content" id="blur">
    <%- include('./partials/profile'); %>
    <h1 class="flex-col-center">Board name</h1>
    <div class="alert"><%- include('./partials/alert'); %></div>

    <div class="center" id="blur">
      <%- include('./partials/post_editable'); %>
    </div>
  </main>
  <%- include('./partials/edit_post'); %> <%- include('./partials/footer'); %>
</body>
