<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col main-content">
    <%- include('./partials/profile'); %>

    <div class="action-btn flex-row-space">
      <a href="/"
        ><button type="button" class="btn btn-outline-info mb-2">
          back
        </button></a
      >
    </div>

    <div class="center"><%- include('./partials/board'); %></div>
  </main>
  <%- include('./partials/footer'); %>
</body>
