<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col main-content">
    <%- include('./partials/profile'); %>
    <h1 class="flex-col-center"><%= board %></h1>

    <section id="main-container" class="container">
      <a href="/users/<%= user.id %>"
        ><button type="button" class="btn btn-outline-info mb">back</button>
      </a>
      <div id="post-area" class="item mt-4">
        <%- include('./partials/post_editable'); %>
      </div>
    </section>
  </main>
  <%- include('./partials/footer'); %>

</body>
