<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col">
    <h1 class="flex-col-center">Board name</h1>
    <div class="posts-area">
      <%- include('./partials/posts_each'); %>
      <div class="action">
        <i class="fa fa-pencil"></i>
        <i class="fa fa-trash"></i>
      </div>
    </div>
    <%- include('./edit_post'); %>
  </main>
  <%- include('./partials/footer'); %>
</body>
