<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main class="flex-col">
    <div class="user-profile flex-col-center">
      <img src="images/profile-hex.png" alt="avatar" />
      <h2>user name</h2>
    </div>

    <div class="action-btn flex-row-space">
      <div>
        <i class="fa fa-pencil"></i>
        <span>Edit</span>
      </div>
      <div>
        <i class="fa fa-plus"></i>
        <span>add</span>
      </div>
    </div>

    <div class="board_area posts-area">
      <%- include('./partials/board'); %><%- include('./partials/board'); %><%-
      include('./partials/board'); %><%- include('./partials/board'); %><%-
      include('./partials/board'); %><%- include('./partials/board'); %>
    </div>
  </main>
  <%- include('./partials/footer'); %>
</body>
